<nav id="sidebar-icon-links">
  
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="https://github.com/EddyStuc" target="_blank"> 
       <i class="fab fa-github"></i>
    </a>
    <a id="linkedin-link"
       class="icon" title="Linkedin" aria-label="Linkedin"
       href="https://www.linkedin.com/in/ed-stuckey-674195219/" target="_blank">
       <i class="fab fa-linkedin"></i>
    </a>
    <a id="instagram-link"
       class="icon" title="Instagram" aria-label="Instagram"
       href="https://www.instagram.com/ejstuckey/?hl=en" target="_blank">
       <i class="fab fa-instagram"></i>
    </a>
  
  {% include custom-icon-links.html %}
</nav>
